%div{id: "message-#{message.id}",class: "group-message"}
  .group-message__user-name
    = message.user.name
  .group-message__post-date
    = message.format_posted_time
  .group-message__post-message
    - if message.body.present?
      = message.body
    = image_tag message.image.url if message.image.present?
  - if message.favorites.present?
    - if message.users_favorite_id(current_user.id) != 0
      %div{id: "favorite-#{message.users_favorite_id(current_user.id)}", class: "i fa fa-heart" }
        = message.favorite_count
    - else
      .i.fa.fa-heart-o
        = message.favorite_count
  - else
    .i.fa.fa-heart-o
      0
