.wrapper

  .side-nav
    .user-info
      .user-name seo
      = link_to "" do
        %i.fa.fa-cog
      = link_to "" do
        %i.fa.fa-edit
    .member-groups
      %ul
        %li<
          = render "member-group"
        %li<
          = render "member-group"
  .main-content
    .group-info
      .group-name sample
      .group-edit-button Edit
      .group-members Members: seo, neko
    .group-messages
      %ul
        %li<
          = render "group-message"
        %li<
          = render "group-message"
    .message-column
      = text_field_tag :message, nil, class: "input-space", placeholder: "type a message" do
        = link_to "" do
          %i.fa.fa-image
      .send-button Send
