.side-nav
  .user-info
    %i.fa.fa-bars
    .user-info__user-name
      = current_user.name
    = link_to new_group_path do
      %i.fa.fa-cog
    = link_to edit_user_path(current_user.id) do
      %i.fa.fa-edit
  .member-groups
    %ul
      - current_user.groups.each do |group|
        %li<
          = link_to group_messages_path(group) do
            .member-group
              .member-group__group-name
                = group.name
              .member-group__group-last-message
                = group.show_last_message

